@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.center {
  margin: auto;
  text-align: center;
}

.layout {
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  @apply min-h-screen;
}

.main-container {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply pt-32;
  @apply pb-10;
}

.main-container-left {
  @extend .main-container;
  @apply justify-start;
  @apply items-start;
  @apply px-12;
}